# Copyright (c) 2024, MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_BL6=y
CONFIG_SOC_PART_NUMBER_BL602C00Q2I=y
CONFIG_BOARD_AI_WB2_12F=y

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
