# Copyright (c) 2025
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEO_U5A5ZJ_Q

config USE_DT_CODE_PARTITION
	default y if TRUSTED_EXECUTION_NONSECURE

if BUILD_WITH_TFM

# Initial Attestation key provisioned by the BL1 bootloader
config TFM_INITIAL_ATTESTATION_KEY
	default y

config TFM_DUMMY_PROVISIONING
	default n

endif # BUILD_WITH_TFM

endif # BOARD_NUCLEO_U5A5ZJ_Q
