#
# Copyright (c) 2018-2023 O.S.Systems
#
# SPDX-License-Identifier: Apache-2.0
#

#Example of product_uid, you must set you product uid.
CONFIG_UPDATEHUB_PRODUCT_UID="e4d37cfe6ec48a2d069cc0bbb8b078677e9a0d8df3a027c4d8ea131130c4265f"

#If you use the autorandler, need set UPDATEHUB_POLL_INTERVAL.
#This example, the updatehub will poll on the server
#request for updates one to one minute.
#(min: 0 minute, máx: 30 days)
CONFIG_UPDATEHUB_POLL_INTERVAL=1

CONFIG_UPDATEHUB_CE=y

#You need set the updatehub-ce ip Address.
#This is a example of ip address
CONFIG_UPDATEHUB_SERVER="updatehub.io"

CONFIG_BUILD_WITH_TFM=y
CONFIG_TFM_PROFILE_TYPE_NOT_SET=y
CONFIG_TFM_IMAGE_VERSION_S="1.0.0"
CONFIG_TFM_IMAGE_VERSION_NS="1.0.0"

# objcopy --input-target=ihex --output-target=binary build/zephyr_ns_signed.hex build/zephyr_ns_signed.bin
# mv build build_tfm_v1.0.0
#
# objcopy --input-target=ihex --output-target=binary build/zephyr_ns_signed.hex build/zephyr_ns_signed.bin
# mv build build_tfm_v2.0.0
# uhu package archive --output build_tfm_v2.0.0/zephyr-tfm-2.0.0.pkg

